<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>CoreShopCarrierCustom</pluginName>
        <pluginDescription><![CDATA[Custom Carrier Plugin for CoreShop]]></pluginDescription>
        <pluginVersion>1.0</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>
        <pluginClassName>\CoreShopCarrierCustom\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/CoreShopCarrierCustom/lib</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>CoreShopCarrierCustom</namespace>
        </pluginNamespaces>
    </plugin>
</zend-config>
